<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Our products</title>
    <style>
        body { font-family: Arial; background: #fff8e1; text-align: center; }
        a { color: #ff6600; margin: 10px; text-decoration: none; }
    </style>
</head>
<body>
    <a href="{% url 'login' %}">Login</a> |
    <a href="{% url 'register' %}">Register</a> |
    <a href="{% url 'profile' %}">Profile</a>

    <h1>Our products</h1>
    <p>Here you can see list of item.</p>
    <a href="{% url 'index' %}">Back to the main page</a>
</body>
</html>
